@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
  font-family: var(--font-family-main);
  font-size: var(--font-m);
  color: var(--inverted-primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
