@import "reset";
@import "variables/global";

body {
  font-family: var(--font-family-main);
  font-size: var(--font-m);
}

.app {
  background: #fff;
  min-height: 100vh;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 1280px;
  margin: 0 auto;
}

.content-page {
  height: calc(100vh - 120px);
  padding: 20px 40px;
}

.auth-page {
  height: 100vh;
  padding: 20px 40px;
}