.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}

.ErrorWrapper {
  display: flex;
  align-items: center;
  height: 32px;
}
