.app_dark_theme {
  --bg-color: rgb(20 21 23);
  --inverted-bg-color: rgb(26 27 30);
  --primary-color: #fff;
  --secondary-color: #a6a7ab;
  --inverted-primary-color: #2fd02f;
  --inverted-secondary-color: #36ef36;
}
