.app_light_theme {
  --bg-color: #fff;
  --inverted-bg-color: #fff;
  --primary-color: #000;
  --secondary-color: #868e96;
  --inverted-primary-color: #228be6;
  --inverted-secondary-color: #1a7bce;
}
