.app_light_theme {
  --bg-color: #fff;
  --inverted-bg-color: #fff;
  --primary-color: #000;
  --secondary-color: #868e96;
  --inverted-primary-color: #1A237E;
  --inverted-secondary-color: #232FA9;
}
