.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

.mainLink {
  margin-right: 15px;
}
