.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
  justify-content: flex-end;
}

.links {
  margin-left: auto;
  font-weight: 500;

  a {
    text-decoration: none;
  }
}

.mainLink {
  margin-right: 15px;
}
